In [50]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib
from sklearn.metrics import confusion_matrix
from skmultilearn.problem_transform import BinaryRelevance

dataset = pd.read_csv('trainingDataset3week.csv')
# X = dataset['Time']
X = dataset.drop(columns=['On/Off', 'Brightness (x*10)%', 'Color temp (x*1000)Kelvin'])
y = dataset.drop(columns=['Time'])
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# dataset.describe()
# dataset.shape
# dataset.info()

#model1 = DecisionTreeClassifier()
# model1 = BinaryRelevance(
#     classifier=DecisionTreeClassifier(),
#     require_dense=[False, True]
# )
model2 = DecisionTreeClassifier()
#model1.fit(X_train, y_train)
model2.fit(X, y)

#prediction1 = model1.predict(X_test)
# predictions = model.predict([[1,7,2], [1,5,6]])
predictions2 = model2.predict([[0],[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],[21],[22],[23]])

# score = accuracy_score(y_test, prediction1)
# score


# cf_matrix = confusion_matrix(y_test, prediction1)

# print(cf_matrix)


for i in range(24):
    print(f"{i}:  {predictions2[i]}")

0:  [0 5 3]
1:  [0 5 3]
2:  [0 5 3]
3:  [0 5 4]
4:  [0 6 4]
5:  [0 4 4]
6:  [0 4 4]
7:  [0 3 5]
8:  [0 6 5]
9:  [1 8 6]
10:  [1 6 6]
11:  [0 5 7]
12:  [ 0  2 10]
13:  [ 0  5 10]
14:  [0 8 9]
15:  [0 8 9]
16:  [0 8 8]
17:  [1 8 4]
18:  [1 7 6]
19:  [1 7 4]
20:  [1 8 5]
21:  [1 6 4]
22:  [1 6 2]
23:  [1 6 2]

In [48]:
predictions2

array([[ 0,  5,  3],
       [ 0,  5,  3],
       [ 0,  5,  3],
       [ 0,  5,  4],
       [ 0,  6,  4],
       [ 0,  4,  4],
       [ 0,  4,  4],
       [ 0,  3,  5],
       [ 0,  6,  5],
       [ 1,  8,  6],
       [ 1,  6,  6],
       [ 0,  5,  7],
       [ 0,  2, 10],
       [ 0,  5, 10],
       [ 0,  8,  9],
       [ 0,  8,  9],
       [ 0,  8,  8],
       [ 1,  8,  4],
       [ 1,  7,  6],
       [ 1,  7,  4],
       [ 1,  8,  5],
       [ 1,  6,  4],
       [ 1,  6,  2],
       [ 1,  6,  2]], dtype=int64)

In [49]:
dataset.describe()

             Time      On/Off  Brightness (x*10)%  Color temp (x*1000)Kelvin
count  504.000000  504.000000          504.000000                 504.000000
mean    11.500000    0.472222            6.087302                   5.646825
std      6.929064    0.499724            1.938497                   2.348018
min      0.000000    0.000000            1.000000                   1.000000
25%      5.750000    0.000000            5.000000                   4.000000
50%     11.500000    0.000000            6.000000                   5.000000
75%     17.250000    1.000000            8.000000                   8.000000
max     23.000000    1.000000           10.000000                  10.000000