In [26]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib
from sklearn.metrics import confusion_matrix
from skmultilearn.problem_transform import BinaryRelevance

dataset = pd.read_csv('trainingDataset1week2.csv')
X = dataset.drop(columns=['On/Off', 'Brightness (x*10)%', 'Color temp (x*1000)Kelvin'])
y = dataset.drop(columns=['Time'])

model2 = DecisionTreeClassifier()
model2.fit(X, y)

predictions2 = model2.predict([[0],[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],[21],[22],[23]])

for i in range(24):
    print(f"{i}:  {predictions2[i]}")

0:  [1 8 4]
1:  [0 8 4]
2:  [0 8 4]
3:  [0 8 4]
4:  [0 8 4]
5:  [0 7 7]
6:  [0 7 7]
7:  [0 6 9]
8:  [1 6 9]
9:  [1 6 9]
10:  [1 5 8]
11:  [1 5 8]
12:  [1 4 8]
13:  [0 4 8]
14:  [0 4 7]
15:  [0 4 7]
16:  [0 3 7]
17:  [0 5 7]
18:  [1 6 5]
19:  [1 7 5]
20:  [1 8 5]
21:  [1 9 5]
22:  [1 9 4]
23:  [ 1 10  4]

In [25]:
predictions2

array([[ 1,  8,  4],
       [ 0,  8,  4],
       [ 0,  8,  4],
       [ 0,  8,  4],
       [ 0,  8,  4],
       [ 0,  7,  7],
       [ 0,  7,  7],
       [ 0,  6,  9],
       [ 1,  6,  9],
       [ 1,  6,  9],
       [ 1,  5,  8],
       [ 1,  5,  8],
       [ 1,  4,  8],
       [ 0,  4,  8],
       [ 0,  4,  7],
       [ 0,  4,  7],
       [ 0,  3,  7],
       [ 0,  5,  7],
       [ 1,  6,  5],
       [ 1,  7,  5],
       [ 1,  8,  5],
       [ 1,  9,  5],
       [ 1,  9,  4],
       [ 1, 10,  4]], dtype=int64)

In [24]:
dataset.describe()

             Time      On/Off  Brightness (x*10)%  Color temp (x*1000)Kelvin
count  168.000000  168.000000          168.000000                 168.000000
mean    11.500000    0.511905            6.672619                   6.452381
std      6.942881    0.501353            1.956096                   1.926212
min      0.000000    0.000000            3.000000                   4.000000
25%      5.750000    0.000000            5.000000                   4.000000
50%     11.500000    1.000000            7.000000                   7.000000
75%     17.250000    1.000000            8.000000                   8.000000
max     23.000000    1.000000           10.000000                  10.000000